@tailwind base;
@tailwind components;
@tailwind utilities;


.columns-container{
    top: 80px;
    height: calc(100% - 80px);
    z-index: 1;
}

.menu-list{
    z-index: 2;
}

.popUp-container{
    z-index: 3;
}